	<!-- Imported styles on this page -->
<link rel="stylesheet" href="/static/assets/js/datatables/dataTables.bootstrap.css">
	
	<!-- Bottom Scripts -->
  <!-- Imported styles on this page -->
  <link rel="stylesheet" href="/static/assets/css/fonts/meteocons/css/meteocons.css">
  <link rel="stylesheet" href="/static/assets/js/datatables/dataTables.bootstrap.css">

  <!-- Bottom Scripts -->
  <script src="/static/assets/js/bootstrap.min.js"></script>
  <script src="/static/assets/js/TweenMax.min.js"></script>
  <script src="/static/assets/js/resizeable.js"></script>
  <script src="/static/assets/js/joinable.js"></script>
  <script src="/static/assets/js/xenon-api.js"></script>
  <script src="/static/assets/js/xenon-toggles.js"></script>


  <!-- Imported scripts on this page -->
  <script src="/static/assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
  <script src="/static/assets/js/jvectormap/regions/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/static/assets/js/xenon-widgets.js"></script>

  <script src="/static/assets/js/datatables/js/jquery.dataTables.min.js"></script>
  <script src="/static/assets/js/datatables/dataTables.bootstrap.js"></script>
  <script src="/static/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js"></script>
  <script src="/static/assets/js/datatables/tabletools/dataTables.tableTools.min.js"></script>

  <script src="/static/assets/js/xenon-custom.js"></script>
