{% extends "base.html" %}
{% block content %}
	<div class="page-title">
	<div class="title-env">
		<h1 class="title">View Detail Conveyor</h1>
		<p class="description">All Information Conveyor</p>
	</div>

	<div class="breadcrumb-env">
		<ol class="breadcrumb bc-1" >
			<li>
				<a href="/dashboard/"><i class="fa-home"></i>Dashboard</a>
			</li>
			<li>
				<a href="/data_conveyor/">Data Conveyor</a>
			</li>
			<li class="active">
				<strong>View Conveyor</strong>
			</li>
		</ol>

	</div>
</div>
			
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-color panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">DETAIL INFORMATION CONVEYOR
				</h3>
				<div class="panel-options">
					<span class="font-bold font16 text-right">FREEPORT INDONESIA, PT<br/><span class="judul-detail">SITE TIMIKA PAPUA</span></span>
				</div>
			</div>
			
			<div class="panel-body">
				<span class="images-conveyor"><img src="images/conveyor/conveyor.jpg"></span>

				<div class="form-group">
					<div class="col-sm-12">
						<br/>
						<span class="font-bold font16">Conveyor Code :  Code A0010</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<span class="font-bold font16">AREA 0001</span>
					</div>
				</div>
				<div class="sparator"></div>
				<div class="form-group">
					<br/>
					<div class="col-sm-12">
						Menjelaskan Detail Desc customer Freeport Indonesia, PT Dari SITE, Data Area, Data Conveyor
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		
		<ul class="nav nav-tabs nav-tabs-justified">
			<li class="active">
				<a href="#detail-conveyor-3" data-toggle="tab">
					<span class="visible-xs"><i class="fa-envelope-o"></i></span>
					<span class="hidden-xs">CONVEYOR ASSET</span>
				</a>
			</li>
		</ul>
		
		<div class="tab-content">
			<div class="tab-pane active" id="detail-conveyor-3">
				<script type="text/javascript">
					jQuery(document).ready(function($)
					{
						$("#detail-conveyor-asset").dataTable().yadcf([
							{column_number : 0, filter_type: 'text'},
							{column_number : 1, filter_type: 'text'},
							{column_number : 2},
							{column_number : 3},
							{column_number : 4},
							{column_number : 5},
						]);
					});
				</script>
				
				<table class="table table-striped table-bordered" id="detail-conveyor-asset">
					<thead>
						<tr class="replace-inputs">
							<th><center>Part</center></th>
							<th><center>Code</center></th>
							<th><center>Customer Area</center></th>
							<th><center>Customer Site</center></th>
							<th><center>Customer Name</center></th>
							<th><center>Brand</center></th>
						</tr>
					</thead>
					<tbody>
					    {% for i in range %}
							<tr>
								<td>PART A00{{i}}</td>
								<td>CODE 000{{i}}</td>
								<td>AREA  {{i}}</td>
								<td>SITE  {{i}}</td>
								<td>FREEPORT INDONESIA {{i}}</td>
								<td>MARTIN</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
			
		</div>
		
		
	</div>
</div>
{% endblock %}