{% extends "base.html" %}


{% block content %}
<div class="row">
<div class="beltcarepro-conv-dash-state col-sm-3">
  <div class="xe-widget xe-counter xe-counter-red" data-count=".num" data-from="0" data-to="85.3" data-suffix="%" data-duration="2">
    <div class="xe-icon">
      <i class="linecons-fire"></i>
    </div>
    <div class="xe-label">
      <strong class="num">0.0%</strong>
      <span>Conveyor Runs</span>
    </div>
  </div>
</div>
<div class="col-sm-3">
  
  <div class="xe-widget xe-counter xe-counter-blue" data-count=".num" data-from="1" data-to="15" data-suffix="Unit(s)" data-duration="3" data-easing="false">
    <div class="xe-icon">
      <i class="linecons-user"></i>
    </div>
    <div class="xe-label">
      <strong class="num">1 Unit</strong>
      <span>Conveyor(s) Covered</span>
    </div>
  </div>
</div>

<div class="beltcarepro-conv-dash-state col-sm-3">
  
  <div class="xe-widget xe-counter xe-counter-info" data-count=".num" data-from="0" data-to="100" data-duration="4" data-suffix="%" data-easing="true">
    <div class="xe-icon">
      <i class="linecons-camera"></i>
    </div>
    <div class="xe-label">
      <strong class="num">100</strong>
      <span>Task Closed</span>
    </div>
  </div>
</div>

<div class="beltcarepro-conv-dash-state col-sm-3">
  
  <div class="xe-widget xe-counter xe-counter-red"  data-count=".num" data-from="0" data-to="57" data-prefix="-," data-suffix="%" data-duration="5" data-easing="true" data-delay="1">
    <div class="xe-icon">
      <i class="linecons-lightbulb"></i>
    </div>
    <div class="xe-label">
      <strong class="num">-,0%</strong>
      <span>Exchange Commission</span>
    </div>
  </div>
</div>


<a href="home.php?page=detail_conveyor_condition">
	<div class="beltcarepro-conv-dash-state col-sm-3">
      <div class="xe-widget xe-progress-counter xe-progress-counter-turquoise"  data-count=".num" data-from="0" data-to="100" data-suffix="%" data-duration="3">
        <div class="xe-background">
          <i class="linecons-paper-plane"></i>
        </div>
        
        <div class="xe-upper">
          <div class="xe-icon">
            <i class="fa-spin fa-cog"></i>
          </div>
          <div class="xe-label">
            <span>C21</span>
            <strong class="num">0</strong>
          </div>
          <span class="warning"></span>
        </div>
        
        <div class="xe-progress">
          <span class="xe-progress-fill"  data-fill-from="0" data-fill-to="100" data-fill-unit="%" data-fill-property="width" data-fill-duration="3" data-fill-easing="true"></span>
        </div>
        
        <div class="xe-lower">
          <span>Chat lines p/ Month</span>
          <strong>82% more communication</strong>
        </div>
        
      </div>
    </div>
</a>

<a href="home.php?page=detail_conveyor_condition">
	<div class="beltcarepro-conv-dash-state col-sm-3">
	  
	  <div class="xe-widget xe-progress-counter xe-progress-counter-green"  data-count=".num" data-from="0" data-to="93.7" data-suffix="%" data-duration="3">
	    
	    <div class="xe-background">
	      <i class="linecons-paper-plane"></i>
	    </div>
	    
	    <div class="xe-upper">
	      <div class="xe-icon">
	        <i class="fa-spin fa-cog"></i>
	      </div>
	      <div class="xe-label">
	        <span>C22</span>
	        <strong class="num">0</strong>
	      </div>
	      <span class="warning"></span>
	    </div>
	    
	    <div class="xe-progress">
	      <span class="xe-progress-fill"  data-fill-from="0" data-fill-to="93.2" data-fill-unit="%" data-fill-property="width" data-fill-duration="3" data-fill-easing="true"></span>
	    </div>
	    
	    <div class="xe-lower">
	      <span>Chat lines p/ Month</span>
	      <strong>82% more communication</strong>
	    </div>
	    
	  </div>
	</div>
</a>

<a href="home.php?page=detail_conveyor_condition">
	<div class="beltcarepro-conv-dash-state col-sm-3">
	  
	  <div class="xe-widget xe-progress-counter xe-progress-counter-orange"  data-count=".num" data-from="0" data-to="75.3" data-suffix="%" data-duration="3">
	    
	    <div class="xe-background">
	      <i class="linecons-paper-plane"></i>
	    </div>
	    
	    <div class="xe-upper">
	      <div class="xe-icon">
	        <i class="fa-spin fa-cog"></i>
	      </div>
	      <div class="xe-label">
	        <span>C23</span>
	        <strong class="num">0</strong>
	      </div>
	      <span class="warning"></span>
	    </div>
	    
	    <div class="xe-progress">
	      <span class="xe-progress-fill"  data-fill-from="0" data-fill-to="75.3" data-fill-unit="%" data-fill-property="width" data-fill-duration="3" data-fill-easing="true"></span>
	    </div>
	    
	    <div class="xe-lower">
	      <span>Chat lines p/ Month</span>
	      <strong>82% more communication</strong>
	    </div>
	    
	  </div>
	</div>
</a>

<a href="home.php?page=detail_conveyor_condition">
	<div class="beltcarepro-conv-dash-state col-sm-3">
	  
	  <div class="xe-widget xe-progress-counter xe-progress-counter-yellow"  data-count=".num" data-from="0" data-to="69.9" data-suffix="%" data-duration="3">
	    
	    <div class="xe-background">
	      <i class="linecons-paper-plane"></i>
	    </div>
	    
	    <div class="xe-upper">
	      <div class="xe-icon">
	        <i class="fa-spin fa-cog"></i>
	      </div>
	      <div class="xe-label">
	        <span>C24</span>
	        <strong class="num">0</strong>
	      </div>
	      <span class="warning"></span>
	    </div>
	    
	    <div class="xe-progress">
	      <span class="xe-progress-fill"  data-fill-from="0" data-fill-to="69.9" data-fill-unit="%" data-fill-property="width" data-fill-duration="3" data-fill-easing="true"></span>
	    </div>
	    
	    <div class="xe-lower">
	      <span>Chat lines p/ Month</span>
	      <strong>82% more communication</strong>
	    </div>
	    
	  </div>
	</div>
</a>

<a href="home.php?page=detail_conveyor_condition">
	<div class="beltcarepro-conv-dash-state col-sm-3">
	  
	  <div class="xe-widget xe-progress-counter xe-progress-counter-red"  data-count=".num" data-from="0" data-to="55.2" data-suffix="%" data-duration="3">
	    
	    <div class="xe-background">
	      <i class="linecons-paper-plane"></i>
	    </div>
	    
	    <div class="xe-upper">
	      <div class="xe-icon">
	        <i class="fa-spin fa-cog"></i>
	      </div>
	      <div class="xe-label">
	        <span>C25</span>
	        <strong class="num">0</strong>
	      </div>
	      <span class="warning"></span>
	    </div>
	    
	    <div class="xe-progress">
	      <span class="xe-progress-fill"  data-fill-from="0" data-fill-to="55.2" data-fill-unit="%" data-fill-property="width" data-fill-duration="3" data-fill-easing="true"></span>
	    </div>
	    
	    <div class="xe-lower">
	      <span>Chat lines p/ Month</span>
	      <strong>82% more communication</strong>
	    </div>
	    
	  </div>
	</div>
</a>

<a href="home.php?page=detail_conveyor_condition">
	<div class="beltcarepro-conv-dash-state col-sm-3">
	  
	  <div class="xe-widget xe-progress-counter xe-progress-counter-red"  data-count=".num" data-from="0" data-to="40.3" data-suffix="%" data-duration="3">
	    
	    <div class="xe-background">
	      <i class="linecons-paper-plane"></i>
	    </div>
	    
	    <div class="xe-upper">
	      <div class="xe-icon">
	        <i class="fa-spin fa-cog"></i>
	      </div>
	      <div class="xe-label">
	        <span>C26</span>
	        <strong class="num">0</strong>
	      </div>
	    </div>
	    
	    <div class="xe-progress">
	      <span class="xe-progress-fill"  data-fill-from="0" data-fill-to="40.3" data-fill-unit="%" data-fill-property="width" data-fill-duration="3" data-fill-easing="true"></span>
	    </div>
	    
	    <div class="xe-lower">
	      <span>Chat lines p/ Month</span>
	      <strong>82% more communication</strong>
	    </div>
	    
	  </div>
	</div>
</a>

<a href="home.php?page=detail_conveyor_condition">
	<div class="beltcarepro-conv-dash-state col-sm-3">
	  
	  <div class="xe-widget xe-progress-counter xe-progress-counter-orange"  data-count=".num" data-from="0" data-to="75.1" data-suffix="%" data-duration="3">
	    
	    <div class="xe-background">
	      <i class="linecons-paper-plane"></i>
	    </div>
	    
	    <div class="xe-upper">
	      <div class="xe-icon">
	        <i class="fa-spin fa-cog"></i>
	      </div>
	      <div class="xe-label">
	        <span>C27</span>
	        <strong class="num">0</strong>
	      </div>
	    </div>
	    
	    <div class="xe-progress">
	      <span class="xe-progress-fill"  data-fill-from="0" data-fill-to="75.1" data-fill-unit="%" data-fill-property="width" data-fill-duration="3" data-fill-easing="true"></span>
	    </div>
	    
	    <div class="xe-lower">
	      <span>Chat lines p/ Month</span>
	      <strong>82% more communication</strong>
	    </div>
	    
	  </div>
	</div>
</a>

<a href="home.php?page=detail_conveyor_condition">
	<div class="beltcarepro-conv-dash-state col-sm-3">
	  
	  <div class="xe-widget xe-progress-counter xe-progress-counter-turquoise"  data-count=".num" data-from="0" data-to="99.8" data-suffix="%" data-duration="3">
	    
	    <div class="xe-background">
	      <i class="linecons-paper-plane"></i>
	    </div>
	    
	    <div class="xe-upper">
	      <div class="xe-icon">
	        <i class="fa-spin fa-cog"></i>
	      </div>
	      <div class="xe-label">
	        <span>C28</span>
	        <strong class="num">0</strong>
	      </div>
	    </div>
	    
	    <div class="xe-progress">
	      <span class="xe-progress-fill"  data-fill-from="0" data-fill-to="99.8" data-fill-unit="%" data-fill-property="width" data-fill-duration="3" data-fill-easing="true"></span>
	    </div>
	    
	    <div class="xe-lower">
	      <span>Chat lines p/ Month</span>
	      <strong>82% more communication</strong>
	    </div>
	    
	  </div>
	</div>
</a>

<a href="home.php?page=detail_conveyor_condition">
	<div class="beltcarepro-conv-dash-state col-sm-3">
	  
	  <div class="xe-widget xe-progress-counter xe-progress-counter-yellow"  data-count=".num" data-from="0" data-to="70.1" data-suffix="%" data-duration="3">
	    
	    <div class="xe-background">
	      <i class="linecons-paper-plane"></i>
	    </div>
	    
	    <div class="xe-upper">
	      <div class="xe-icon">
	        <i class="fa-spin fa-cog"></i>
	      </div>
	      <div class="xe-label">
	        <span>C29</span>
	        <strong class="num">0</strong>
	      </div>
	    </div>
	    
	    <div class="xe-progress">
	      <span class="xe-progress-fill"  data-fill-from="0" data-fill-to="70.1" data-fill-unit="%" data-fill-property="width" data-fill-duration="3" data-fill-easing="true"></span>
	    </div>
	    
	    <div class="xe-lower">
	      <span>Chat lines p/ Month</span>
	      <strong>82% more communication</strong>
	    </div>
	    
	  </div>
	</div>
</a>

<a href="home.php?page=detail_conveyor_condition">
	<div class="beltcarepro-conv-dash-state col-sm-3">
	  
	  <div class="xe-widget xe-progress-counter xe-progress-counter-turquoise"  data-count=".num" data-from="0" data-to="100" data-suffix="%" data-duration="3">
	    
	    <div class="xe-background">
	      <i class="linecons-paper-plane"></i>
	    </div>
	    
	    <div class="xe-upper">
	      <div class="xe-icon">
	        <i class="fa-spin fa-cog"></i>
	      </div>
	      <div class="xe-label">
	        <span>C30</span>
	        <strong class="num">0</strong>
	      </div>
	    </div>
	    
	    <div class="xe-progress">
	      <span class="xe-progress-fill"  data-fill-from="0" data-fill-to="100" data-fill-unit="%" data-fill-property="width" data-fill-duration="3" data-fill-easing="true"></span>
	    </div>
	    
	    <div class="xe-lower">
	      <span>Chat lines p/ Month</span>
	      <strong>82% more communication</strong>
	    </div>
	    
	  </div>
	</div>
</a>

<a href="home.php?page=detail_conveyor_condition">
	<div class="beltcarepro-conv-dash-state col-sm-3">
	  
	  <div class="xe-widget xe-progress-counter xe-progress-counter-turquoise"  data-count=".num" data-from="0" data-to="100" data-suffix="%" data-duration="3">
	    
	    <div class="xe-background">
	      <i class="linecons-paper-plane"></i>
	    </div>
	    
	    <div class="xe-upper">
	      <div class="xe-icon">
	        <i class="fa-spin fa-cog"></i>
	      </div>
	      <div class="xe-label">
	        <span>C31</span>
	        <strong class="num">0</strong>
	      </div>
	    </div>
	    
	    <div class="xe-progress">
	      <span class="xe-progress-fill"  data-fill-from="0" data-fill-to="100" data-fill-unit="%" data-fill-property="width" data-fill-duration="3" data-fill-easing="true"></span>
	    </div>
	    
	    <div class="xe-lower">
	      <span>Chat lines p/ Month</span>
	      <strong>82% more communication</strong>
	    </div>
	    
	  </div>
	</div>
</a>

<a href="home.php?page=detail_conveyor_condition">
	<div class="beltcarepro-conv-dash-state col-sm-3">
	  
	  <div class="xe-widget xe-progress-counter xe-progress-counter-turquoise"  data-count=".num" data-from="0" data-to="100" data-suffix="%" data-duration="3">
	    
	    <div class="xe-background">
	      <i class="linecons-paper-plane"></i>
	    </div>
	    
	    <div class="xe-upper">
	      <div class="xe-icon">
	        <i class="fa-spin fa-cog"></i>
	      </div>
	      <div class="xe-label">
	        <span>C32</span>
	        <strong class="num">0</strong>
	      </div>
	    </div>
	    
	    <div class="xe-progress">
	      <span class="xe-progress-fill"  data-fill-from="0" data-fill-to="100" data-fill-unit="%" data-fill-property="width" data-fill-duration="3" data-fill-easing="true"></span>
	    </div>
	    
	    <div class="xe-lower">
	      <span>Chat lines p/ Month</span>
	      <strong>82% more communication</strong>
	    </div>
	    
	  </div>
	</div>
</a>

<a href="home.php?page=detail_conveyor_condition">
	<div class="beltcarepro-conv-dash-state col-sm-3">
	  
	  <div class="xe-widget xe-progress-counter xe-progress-counter-turquoise"  data-count=".num" data-from="0" data-to="100" data-suffix="%" data-duration="3">
	    
	    <div class="xe-background">
	      <i class="linecons-paper-plane"></i>
	    </div>
	    
	    <div class="xe-upper">
	      <div class="xe-icon">
	        <i class="fa-spin fa-cog"></i>
	      </div>
	      <div class="xe-label">
	        <span>C33</span>
	        <strong class="num">0</strong>
	      </div>
	    </div>
	    
	    <div class="xe-progress">
	      <span class="xe-progress-fill"  data-fill-from="0" data-fill-to="100" data-fill-unit="%" data-fill-property="width" data-fill-duration="3" data-fill-easing="true"></span>
	    </div>
	    
	    <div class="xe-lower">
	      <span>Chat lines p/ Month</span>
	      <strong>82% more communication</strong>
	    </div>
	    
	  </div>
	</div>
</a>

<a href="home.php?page=detail_conveyor_condition">
	<div class="beltcarepro-conv-dash-state col-sm-3">
	  
	  <div class="xe-widget xe-progress-counter xe-progress-counter-turquoise"  data-count=".num" data-from="0" data-to="100" data-suffix="%" data-duration="3">
	    
	    <div class="xe-background">
	      <i class="linecons-paper-plane"></i>
	    </div>
	    
	    <div class="xe-upper">
	      <div class="xe-icon">
	        <i class="fa-spin fa-cog"></i>
	      </div>
	      <div class="xe-label">
	        <span>C34</span>
	        <strong class="num">0</strong>
	      </div>
	    </div>
	    
	    <div class="xe-progress">
	      <span class="xe-progress-fill"  data-fill-from="0" data-fill-to="100" data-fill-unit="%" data-fill-property="width" data-fill-duration="3" data-fill-easing="true"></span>
	    </div>
	    
	    <div class="xe-lower">
	      <span>Chat lines p/ Month</span>
	      <strong>82% more communication</strong>
	    </div>
	    
	  </div>
	</div>
</a>

<a href="home.php?page=detail_conveyor_condition">
	<div class="beltcarepro-conv-dash-state col-sm-3">
	  
	  <div class="xe-widget xe-progress-counter xe-progress-counter-turquoise"  data-count=".num" data-from="0" data-to="100" data-suffix="%" data-duration="3">
	    
	    <div class="xe-background">
	      <i class="linecons-paper-plane"></i>
	    </div>
	    
	    <div class="xe-upper">
	      <div class="xe-icon">
	        <i class="fa-spin fa-cog"></i>
	      </div>
	      <div class="xe-label">
	        <span>C35</span>
	        <strong class="num">0</strong>
	      </div>
	    </div>
	    
	    <div class="xe-progress">
	      <span class="xe-progress-fill"  data-fill-from="0" data-fill-to="100" data-fill-unit="%" data-fill-property="width" data-fill-duration="3" data-fill-easing="true"></span>
	    </div>
	    
	    <div class="xe-lower">
	      <span>Chat lines p/ Month</span>
	      <strong>82% more communication</strong>
	    </div>
	    
	  </div>
	</div>
</a>
<!-- END -->
<div class="clearfix"></div>

</div>		
{% endblock %}